{{#modal-dialog close='closeLoginModal' translucentOverlay=true}}
  <div class="well login-box">
    <form class="form-signin">
      <h2 class="form-signin-heading">Sign in</h2>
      <label for="inputTeamName" class="sr-only">Team Name</label>
      <input type="username" id="inputTeamName" class="form-control" placeholder="Team Name" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-danger btn-cancel-action" {{action 'closeLoginModal'}}>Cancel</button>
      <button class="btn btn-warning" {{action "loginToRegisterModal"}}>Register</button>
      <button class="btn btn-success btn-login-submit" type="submit">Sign in</button>
    </form>
  </div>
{{/modal-dialog}}
