<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {{#link-to "application"}}<a class="navbar-brand" href="/">Home</a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {{#link-to "challenges" tagName="li"}}<a href="/challenges">Challenges</a>{{/link-to}}
        {{#link-to "scoreboard" tagName="li"}}<a href="/scoreboard">Scoreboard</a>{{/link-to}}
        {{#link-to "about" tagName="li"}}<a href="/about">About</a>{{/link-to}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {{#if authController.isAuthenticated}}
        <li><a {{action "openLogoutModal"}}>Logout</a></li>
      {{else}}
        <li><a {{action "openRegisterModal"}}>Register</a></li>
        <li><a {{action "openLoginModal"}}>Login</a></li>
      {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


