*/*.db
*/*.pyc
*/*.sqlite3
*.md
npm-debug.log
ember/bower_components/
ember/node_modules/
ember/tmp/*
edctf/edctf_secret.*
edctf/static/admin/
edctf/static/rest_framework/
edctf/api/migrations/*
!edctf/api/migrations/__init__.py
!edctf/api/migrations/.gitignore
