<ul class="nav nav-sidebar navbar-inverse">
  {{#link-to "admin.ctf" tagName="li" class="ctf-route cursor-pointer"}}<a>CTF Settings</a>{{/link-to}}
  {{#link-to "admin.challengeboard" tagName="li" class="ctf-route cursor-pointer"}}<a>Challengeboard</a>{{/link-to}}
  {{#link-to "admin.scoreboard" tagName="li" class="ctf-route cursor-pointer"}}<a>Scoreboard</a>{{/link-to}}
  {{#link-to "admin.teams" tagName="li" class="ctf-route cursor-pointer"}}<a>Teams</a>{{/link-to}}
</ul>
