<h1>Flag format</h1>
<p>Flag format is <span class="flagFormat">null{flag}</span> for most challenges.  If you have any problems submiting a flag, please contact a judge.</p>
<br/>

<h1><a href="http://nullify.uno" target="_blank">NULLify High School CTF Cyber Board</a></h1>
<p>
</p><table class="table table-striped table-hover nullifyHSCTF" style="width:100%; border: 1px solid #eee;" id="nullifyHSCTF">
<tbody>
<tr><th class="userHead">
  Name</th>
  <th class="userHead">Handle</th>
  <th class="userHead">Title</th>

</tr><tr>
  <td class="userName">Dalton Ellis</td>
  <td>Big D</td>
  <td>NULLify President 2015-Present</td>
</tr>
<tr>
  <td class="userName">Mickey Hefley</td>
  <td>Br0</td>
  <td>NULLify Vice-President</td>
</tr>
<tr>
  <td class="userName">Chris Lenk</td>
  <td>Serp</td>
  <td>NULLify Treasurer</td>
</tr>
<tr>
  <td class="userName">Brian Healy</td>
  <td>JellyMeyster</td>
  <td>NULLify Secretary</td>
</tr>
<tr>
  <td class="userName">Darek Jensen</td>
  <td>x44</td>
  <td>NULLify CTF Organzier</td>
</tr>
<tr>
  <td class="userName">Ryan Grandgenett</td>
  <td>IAryan</td>
  <td>NULLify President 2014-2015</td>
</tr>
<tr>
  <td class="userName">Adam Schaal</td>
  <td>clevernyyyy</td>
  <td>NULLify Code Wizard</td>
</tr>
</tbody></table>


<h1><a href="http://nucia.ist.unomaha.edu/" target="_blank">UNO Cyber Scientists</a></h1>
<p>
</p><table class="table table-striped table-hover cyberScientists" style="width:100%" id="cyberScientists">
 <tbody><tr>
   <th class="userHead">Name</th>
   <th class="userHead">Position</th>
   <th class="userHead">Contribution</th>
 </tr>
 <tr>
   <td>Bill Mahoney</td>
   <td>NULLify Staff Advisor</td>
   <td>Chief Cyber Bro</td>
 </tr>
 <tr>
   <td>Chris Cox</td>
   <td>UNO Systems Architect</td>
   <td>Assisted in CTF:CYBER architecture</td>
 </tr>
 <tr>
   <td>Matt Hale</td>
   <td>UNO Professor</td>
   <td>Assisted in CTF:CYBER site and created a challenge</td>
 </tr>
</tbody></table>

<br>

<h1>What is CTF?</h1>
<p>Capture the Flag (CTF) is a computer security competition. CTF contests are usually designed to serve as an educational exercise to give participants experience in securing a machine, as well as conducting and reacting to the sort of attacks found in the real world. Reverse-engineering, network sniffing, protocol analysis, system administration, programming, and cryptanalysis are all skills which have been required by prior CTF contests at DEF CON. There are two main styles of capture the flag competitions: attack/defense and jeopardy.</p>

<p>In an attack/defense style competition, each team is given a machine (or a small network) to defend on an isolated network. Teams are scored on both their success in defending their assigned machine and on their success in attacking other team's machines. Depending on the nature of the particular CTF game, teams may either be attempting to take an opponent's flag from their machine or teams may be attempting to plant their own flag on their opponent's machine. One of the more prominent attack/defense CTF's is held every year at the hacker conference DEF CON.</p>

<p>Jeopardy-style competitions usually involve multiple categories of problems, each of which contains a variety of questions of different point values. Teams race to be the first to solve the most number of points, but do not directly attack each other.</p>

<br/>
<br/>
{{outlet}}
