<!-- Display Nav-bar -->
{{nav-bar ctf=ctf modal=modal session=authController.session adminSettings=adminSettings logout='logout'}}

{{partial 'modal'}}

<div class="container">
  {{outlet}}
</div>


