<style>.sponsors{ padding: 0 20px 30px 20px; }</style>

<div id="sponsors">
      <div class="container">
        <h1 class="text-center welcome-message">Welcome to CTF:Cyber!</h1>
        <div class="row">
          <h1 class="text-center">Gigabyte Sponsors</h1><hr>
          <div class="span4"><img class="center-block img-responsive sponsors" src="http://clock.nullify.uno/img/1.png" /></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span4"><img class="center-block img-responsive sponsors" src="/static/images/Kiewitmain.jpg" /></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h1 class="text-center">Megabyte Sponsors</h1><hr>
          <div class="span4"><img class="center-block img-responsive sponsors" src="http://clock.nullify.uno/img/4.png" width="500"/></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span4"><img class="center-block img-responsive sponsors" src="http://clock.nullify.uno/img/3.png" width="500" /></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span4"><img class="center-block img-responsive sponsors" src="http://clock.nullify.uno/img/2.png" width="500"/></div>
        </div>
      </div>
</div>

{{outlet}}
