.edctf-button {
  text-align: center;
  letter-spacing: .05em;
}
.edctf-submit-button {
  text-align: center;
  letter-spacing: .05em;
}
.edctf-cancel-button {
  text-align: center;
  letter-spacing: .05em;
}
.edctf-warning-button {
  text-align: center;
  letter-spacing: .05em;
}