
.navbar {
  margin-bottom: 0px;
}
.main {
  overflow: hidden;

  .admin {
    .sidebar, .content {
      display: table-cell;
    }
  }
  .sidebar {
    min-width: 150px;
    background-color: #222;
    margin-bottom: -100vh;
    padding-bottom: 100vh;
  }
  .content {
    padding-top:20px;
    width:100%;
    vertical-align: top;
  }  

}
ul.nav.nav-sidebar.navbar-inverse {
  min-width: 150px;
  background-image: none;
  background-color: #222;
}
