@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.cursor-pointer {
  cursor: pointer;
}

.edctf-text {
  letter-spacing: .05em;
}
.edctf-button {
  text-align: center;
  letter-spacing: .05em;
}
.edctf-submit-button {
  text-align: center;
  letter-spacing: .05em;
}
.edctf-cancel-button {
  text-align: center;
  letter-spacing: .05em;
}
.edctf-warning-button {
  text-align: center;
  letter-spacing: .05em;
}

.ember-modal-dialog {
  padding: 15px !important;
}

/* style for nav-bar modal */
.ctf-title {
  letter-spacing: .05em;
}
.ctf-route {
  letter-spacing: .05em;
}

/* style for login modal */
.login-box-margin {
  margin:0px;
}
.login-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: .05em;
}

/* style for challenges modal */
.challenge-style-modal-container {
  width: 50%;
}
.challenge-submit {
  margin-top:2%;
  margin-left:.5%;
  float:right;
}
.challenge-cancel {
  margin-top:2%;
  float:right;
}

/* style for challenges page */
.challenges-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: .05em;
}
.challenge-category-name {
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: .05em;
  vertical-align: middle !important;
}
.challengeButton {
    padding: 14px 24px;
    margin: .15em .2em;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
.challengeButton:focus, .challengeButton:active:focus, .challengeButton.active:focus {
    outline: 0 none;
}
.challengeButton-unsolved {
    background: #0D4F8B;
    color: #ffffff;
}
.challengeButton-unsolved:hover, .challengeButton-unsolved:focus, .challengeButton-unsolved:active, .challengeButton-unsolved.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.challengeButton-solved {
    background: #009900;
    color: #ffffff;
}
.challengeButton-solved:hover, .challengeButton-solved:focus, .challengeButton-solved:active, .challengeButton-solved.active, .open > .dropdown-toggle.btn-primary {
    background: #32CD32;
}
.challengeButton-primary:active, .challengeButton-primary.active {
    background: #007299;
    box-shadow: none;
}
.challengeButton.sharp {
  border-radius:0;
}
.challengeButton-xlarge {
  padding:23px 72px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 6px
}
.challenge-tr {
    border-collapse: collapse;
}

table{
    width:100%;
}


/* style for c3 graph */
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: none;
}
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: #CECECE;
}
.c3-grid line {
  stroke: #ECECEC;
  stroke-dasharray: none;
}
#chart .c3-line {
    stroke-width: 2px;
}
.c3-line {
    stroke-width: 2px;
}

/* style for scoreboard */
.scoreboard-topx {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: .05em;
}
.scoreboard-table {
  margin-top: 25px;
  margin-bottom: 25px;
}
.scoreboard-keys {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .05em;
}
.scoreboard-values {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

/* style for team and profile modals */
.team-info {
  text-align: left;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: .05em;
  text-align: left;
},
.team-info-table {
  margin-top: 10px;
  margin-bottom: 10px;
},
.team-table {
  margin-top: 15px;
  margin-bottom: 15px;
}
.team-name {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: .05em;
}
.team-keys {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .05em;
}
.team-values {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.team-correct-flags{
  color: green;
}
.team-wrong-flags{
  color: red;
}
.team-challenges {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: .05em;
}

/* style for status code pages */
.edctf-404 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: .05em;
}