Add configuration here.
<br/>
  Such as
  <ul>
    <li>HTTPS settings</li>
    <li>reCaptcha keys</li>
    <li>Access to ctf when online ctf is not live</li>
    <li>Public access to challenges (This is currently needed for scoreboard graph)</li>
    <li>anything else 'global'</li>
  </ul>
<br/>
