Modify users/teams here.
Modify global permissions.

<br/>
  Have buttons that choose to display:
  <ul>
    <li>Global admins</li>
    <li>Admins specific for a CTF</li>
    <li>All users</li>
    <li>Users for specific ctf</li>
    <li>Search</li>
  </ul>
<br/>
