{{#if authController.isAuthenticated}}
<div class="container">
  <h1 class="text-center">Challenges</h1>
  <div>
    <table border="0" style="width:100%">
      <tbody>
          {{#each ctf.challengeboard.categories as |category|}}
          <tr class="challenge-tr">
            <td><h2>{{category.name}}</h2></td>
            {{#each category.challenges as |challenge|}}
              <button class="challengeButton" {{action 'openChallenge' challenge.id}}>{{challenge.points}}</button>
            {{/each}}
          </tr>
          {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/if}}