{{#if isShowingChallengeModal}}
  {{challenge-modal isShowingChallengeModal=isShowingChallengeModal challenge=challenge}}
{{/if}}

<h1>This is the challenge board page</h1>

{{#each content as |challenge|}}
<button class="btn btn-primary" {{action 'openChallenge' challenge.id}}>{{challenge.points}}</button>
{{/each}}
