{{#if authController.isAuthenticated}}
  <h1>This is the challenge board page</h1>
  
  {{#each challenges as |challenge|}}
  <button class="btn btn-primary" {{action 'openChallenge' challenge.id}}>{{challenge.points}}</button>
  {{/each}}
  
{{/if}}
