{{#if authController.isAuthenticated}}
<div class="container">
  <h1>Challenges</h1>
  <div>          
    <table border="1" style="width:100%">
      <tbody>
        {{#each uniqueCategories as |category|}}
          <tr>
            <td><h2>{{category}}</h2></td>
            {{#each sortedChallenges as |challenge|}}
              {{#if-equal param1=challenge.category param2=category}}
                <td>
                <button class="btn btn-primary" {{action 'openChallenge' challenge.id}}>{{challenge.points}}</button>
                 </td>
              {{/if-equal}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/if}}

